.main-cointainer{
    display: flex;
    justify-content: center;
    /* height: 100vh; */
}
.box{
    text-align: center;
    margin-top: 200px;
    height: 250px;
    width: 400px;
    background-color: rgb(171, 178, 184);

}
.welcome{
    font-weight: 500;
    font-size: 30px;
}
.message{
    font-size: 20px;
}
.button{
    /* display: block; */
    /* margin-left: 91px; */
    /* margin-bottom: 7px; */
    /* margin-top: 10px; */
    border: none;
    border-radius: 10px;
    background-color: #66bdd5;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
